<header>
  <div class='container'>
    <%= image_tag("icon.png", :alt => "icon crush de france") %>
    <h1>CRUSH DE FRANCE</h1>
    <div class='header-star'>
      <div></div>
      <i class="fas fa-star"></i>
      <div></div>
    </div>
    <p>Trouvez votre crush quel que soit la ville</p>
  </div>
</header>
