<nav>
  <div class='container'>
    <%= link_to 'CRUSHDEFRANCE', root_path %>
    <div class='nav-link'>
      <%= link_to 'NOS SERVICES', root_path %>
      <%= link_to 'MA VILLE', root_path %>
    </div>
  </div>
</nav>
