nav {
  background: $grey;
  padding: 35px 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  .nav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: $lite_grey;
    font-size: 28px;
    font-weight: 700;
  }
}

.burger-active {
  display: block !important;
}

.burger-link {
  margin-top: 20px;
  display: none;
  a {
    color: $white;
    display: block;
    margin-top: 10px;
  }
}

.nav-link a {
  font-size: 1rem;
  color: $white;
  margin-left: 40px;
  transition: color 300ms ease;
  &:hover {
    color: $yellow;
  }
}

.nav-burger {
  display: none;
  color: $white;
  font-size: 25px;
  padding: 3px 6px;
  border-radius: 5px;
  border: $lite_grey 1px solid;
  &:hover {
    cursor: pointer;
  }
}

@media(max-width: 768px) {
  nav {
    a {
      font-size: 18px;
    }
  }
  .nav-link {
    display: none;
  }
  .nav-burger {
    display: block;
  }
}
