nav {
  background: $grey;
  padding: 35px 0px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: $lite_grey;
    font-size: 28px;
    font-weight: 700;
  }
}

.nav-link a {
  font-size: 1rem;
  color: $white;
  margin-left: 40px;
  &:hover {
    color: $yellow;
  }
}
