@import 'config/colors';
@import 'config/font';

@import 'components/index';

@import 'pages';
@import 'cities';
@import 'posts';
@import 'users';

body {
  background: $black;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 60%;
  margin: 0px auto;
}

@media(max-width: 768px) {
  .container {
    width: 90%;
  }
}
