.cities-content {
  margin-top: 200px;
  header {
    height: auto;
    margin-bottom: 50px;
  }
}

.cities-card {
  background: $grey_blue;
  border-radius: 8px;
  margin: 0px auto;
  margin-bottom: 30px;
  padding: 15px;
  display: flex;
  width: 750px;
  position: relative;
}

.red {
  border: 2px $red solid;
}

.green {
  border: 2px green solid;
}

.short-name {
  color: $white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0px;
  text-align: center;
}

.card-line {
  width: 4px;
  height: auto;
  border-radius: 2px;
  background: $white;
  margin: 0px 15px;
  opacity: .7;
}

.card-content {
  color: $white;
  h2 {
    font-weight: 100;
  }
}

.card-info {
  display: flex;
  align-items: center;
  h2 {
    color: $lite_grey;
  }
  h3 {
    margin: 0px;
    margin-left: 10px;
    font-size: 24px;
  }
  a {
    padding: 10px 15px;
    color: white;
    background: $yellow;
    border-radius: 8px;
    margin-left: 20px;
    font-weight: 600;
  }
}

.city-btn {
  padding: 10px 15px;
  background: $yellow;
  color: white;
  border-radius: 8px;
}

.card-delete {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
}

.red-link {
  color: $red;
  &:hover {
    color: rgb(90, 0, 0);
  }
}

.white-link {
  color: $white;
  margin-right: 20px;
  &:hover {
    color: rgb(150, 150, 150);
  }
}

.insta-acount {
  position: absolute;
  top: 13px;
  color: $white;
  padding: 5px 10px;
  background: $red;
  z-index: 10;
  border-radius: 8px;
  transition: 300ms right ease;
  animation: 500ms linear 0s infinite alternate move_insta;
  p {
    margin: 0px;
  }
}

@keyframes move_insta { from { right:140px; } to { right:160px; }  }

.moula {
  text-align: center;
}

.cities-mobile-card {
  display: none;
  background: $grey_blue;
  border-radius: 8px;
  margin: 0px auto;
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
  .card-info {
    h2 {
      font-size: 15px;
      align-self: center;
      text-align: center;
      color: $white;
    }
    h3 {
      align-self: center;
      text-align: center;
      color: $white;
    }
    a {
      align-self: center;
      font-size: 12px;
      text-align: center;
    }
  }
  .mobile-grid {
    display: grid;
    grid-template-columns: 50% 1fr 40%;
  }
}

.mobile-message {
  display: none;
  margin-bottom: 30px;
}

@media(max-width: 768px) {
  .cities-card {
    display: none;
  }
  .cities-mobile-card {
    display: block;
  }
  .mobile-message {
    display: block;
  }
}
