<div class='container'>
  <div class='cities-content'>
    <header>
      <h1>MODERATEUR</h1>
      <div class='header-star'>
        <div></div>
        <i class="fas fa-star"></i>
        <div></div>
      </div>
        <p>Gérez les modérateurs de <%= @city.short_name.capitalize %> </p>
    </header>
  </div>
</div>
